#features{

    padding: 60px 0;

    .content{
        display: flex;
    }

    #app-features-img{
        padding-right: 150px;
    }





    .features-options{    
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


}
 



    








    






