#review{

    background: $gradient-radial;

    padding: 60px 0;


    .container{

        display: flex;   
        

    
    }

    .review-title{

        padding-bottom: 80px;
        
    }

    .review-text-btn{

        display: flex;
        gap: 15px;
        
        
    }

    #review-img{
        padding-left: 90px; 
    }

 

    


}